.slot-machine {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.slot-machine-column {
    display: flex;
    flex-direction: column;
    width: 100px; /* Ajustăm lățimea pentru a fi pătrată */
    overflow: hidden;
    text-align: center;
    font-size: 2em;
    border: 1px solid #ccc;
    margin: 0 5px;
}

.slot-symbol {
    width: 100px; /* Ajustăm lățimea pentru a fi pătrată */
    height: 100px;
    line-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.spin {
    animation: spin 0.3s infinite;
}

@keyframes spin {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100px); /* Ajustat pentru a anima de sus în jos */
    }
}

.reel {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


